.First-Slide {
	min-height: calc(100vh - #{$navigation-height});
	background: #fff;
	font-family: $title-font-light;
	position: relative;

	.Text-Wrapper {
		position: relative;
		color: #333333;

		div {
			margin-bottom: .1em;
		}
		span {
			font-family: $title-font-bold;
			color: $primary;
		}

		.Finding-Web-Developer {
			text-align: center;

			@include for-size(phone-only) {
				font-size: 1.4em;
			}

			@include for-size(tablet-portrait-up) {
				font-size: 2em;
			}

			@include for-size(tablet-landscape-up) {
				font-size: 2.7em;
			}
		}

		.I-More-Than {
			text-align: center;
			@include for-size(phone-only) {
				font-size: 1.2em;
			}

			@include for-size(tablet-portrait-up) {
				font-size: 1.8em;
			}

			@include for-size(tablet-landscape-up) {
				font-size: 2em;
			}
		}

		.Scroll-Down {
			font-family: $title-font-regular;
			color: $default;
			margin-top: .4em;
			margin-bottom: 1.5rem;
			display: inline-block;

			@include for-size(phone-only) {
				font-size: .8em;
			}

			@include for-size(tablet-portrait-up) {
				font-size: .9em;
			}

			i {
				width: 1em;
				height: 1em;
				display: inline-block;
				position: relative;
				top: .2em;
				background-image: url('../images/scrollDown.svg');
				background-repeat: no-repeat;
				animation: scroll-animate 1.3s cubic-bezier(0.6, 0.01, 0.32, 1) infinite alternate;
			}
		}
	}
}

.My-Face {
	position: absolute;
	text-align: center;
	top: 40%;
	left: 50%;
	cursor: pointer;
	@include transform(translate(-50%, -50%));

	@include for-size(phone-only) {
		width: 160px;
	}

	@include for-size(tablet-portrait-up) {
		width: 18vw;
	}

	@include for-size(tablet-landscape-up) {
		width: 14vw;
	}

	@include for-size(desktop-up) {
		width: 12vw;
	}

	@include for-size(big-desktop-up) {
		width: 400px;
	}
}

.Top-Image {
	width: 100%;
	background-image: url('../images/Background.svg');
	background-position: top;
	background-repeat: no-repeat;
	height: 100%;
	position: absolute;
	@include transform(translateY(-60px));

	@include for-size(phone-only) {
		background-size: 380%;
	}

	@include for-size(tablet-portrait-up) {
		background-size: contain;
	}
}

.offset-top {
	// background-color: yellow;
}

#Hair > g > polygon,
#Face_SKin > g > polygon {
	transition: 0.75s all ease-in-out;
	transform-origin: center;
}

.Hand-Animation {
	animation: hand-animate 1.5s linear infinite alternate;
}

@include keyframes(hand-animate) {
	from {
		transform: rotate(3deg);
		transform-origin: bottom;
	}
	to {
		transform: rotate(-4deg);
		transform-origin: bottom;
	}
}

@include keyframes(scroll-animate) {
	from {
		transform: translateY(0px);
		transform-origin: bottom;
	}
	to {
		transform: translateY(8px);
		transform-origin: bottom;
	}
}

@for $i from 1 to 40 {
	@include keyframes('hair-animate-#{$i}') {
		from {
			transform: translateY(#{$i}px);
		}
		to {
			transform: translateY(0px);
		}
	}

	@include keyframes('hair-animate--#{$i}') {
		from {
			transform: translateY(-#{$i}px);
		}
		to {
			transform: translateY(0px);
		}
	}
	.Hair-Animation-#{$i} {
		animation: hair-animate-#{$i} 3s ease-in-out infinite alternate;
	}
	.Hair-Animation--#{$i} {
		animation: hair-animate--#{$i} 3s ease-in-out infinite alternate;
	}
}
