.Latest-News {
	padding: 3rem 0;

	.container {
		.row {
			&.order {
				div:nth-child(1) {
					@media (max-width: 767px) {
						order: 2;
					}
				}
				div:nth-child(2) {
					@media (max-width: 767px) {
						order: 1;
					}
				}
			}
		}
	}

	.image-container {
		max-width: 270px;
		height: 200px;
		@media (max-width: 767px) {
			margin: 0 auto;
		}
		background-color: white;

		&.left {
			position: relative;
			@media (max-width: 767px) {
				left: -19px;
			}
			@media (min-width: 768px) {
				left: 19px;
			}
		}

		&.right {
			position: relative;
			@media (max-width: 767px) {
				right: -19px;
			}
			@media (min-width: 768px) {
				right: 19px;
				margin-left: auto;
			}
		}

		.first-layer {
			width: 100%;
			height: 100%;
			// background: rgba(0, 0, 255, 0.5);
			position: relative;

			&::before {
				content: '';
				position: absolute;
				width: 100%;
				height: 100%;
				// background-color: red;
				top: -19px;
				border: 9px solid $primary-button;
			}

			.image-layer {
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center center;
				background-color: #ffffff;
				width: 100%;
				height: 100%;
				position: relative;

				&.left {
					left: 19px;
				}

				&.right {
					right: 19px;
				}
			}
		}
	}

	.second-title {
		margin-bottom: 1rem;
	}

	.Text--Center {
		@media (max-width: 767px) {
			text-align: center;
		}
	}
}
