.My-Skills {
	background-color: #ffffff;

	@include for-size(phone-only) {
		padding: 2rem 0;
	}

	@include for-size(tablet-portrait-up) {
		padding: 3rem 0;
	}

	.image-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;

		img {
			@include for-size(767px) {
				flex: 1;
			}
		}
	}

	.Skill-List-Wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;

		div {
			@include for-size(tablet-landscape-up) {
				margin-bottom: 1rem;
			}
			@include for-size(desktop-up) {
				margin-bottom: 2rem;
			}
		}
	}

	.less-center {
		@media (max-width: 767px) {
			text-align: center;
		}
	}
}

.Skill-Bar-Container {
	@media (max-width: 767px) {
		margin-bottom: 2rem;
	}
	.Skill-Bar {
		.text-container {
			margin-bottom: .2rem;
			position: relative;
			.title {
				font-size: 1em;
				padding-left: 40px;
			}

			img {
				width: 25px;
				position: absolute;
				left: 2px;
				bottom: 1px;
				&.sm {
					width: 19px;
					left: 5px;
					bottom: 0;
				}
			}
		}

		@for $i from 1 to 10 {
			&.width-#{$i} {
				.Bar {
					.Bar-Width {
						width: #{$i*10%};
					}
					.Bar-Button {
						left: #{$i*10%};
					}
				}
			}
		}

		.Bar {
			border: 1px solid #231a6b;
			height: 10px;
			border-radius: 10px;
			position: relative;
			margin-bottom: 1.5rem;

			.Bar-Width {
				border-radius: 10px;
				position: absolute;
				height: 100%;
				top: 0;
				left: 0;
				/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e7e4ff+0,c5b4f0+50,ba7baa+100 */
				background: rgb(231, 228, 255); /* Old browsers */
				background: -moz-linear-gradient(
					left,
					rgba(231, 228, 255, 1) 0%,
					rgba(197, 180, 240, 1) 50%,
					rgba(186, 123, 170, 1) 100%
				); /* FF3.6-15 */
				background: -webkit-linear-gradient(
					left,
					rgba(231, 228, 255, 1) 0%,
					rgba(197, 180, 240, 1) 50%,
					rgba(186, 123, 170, 1) 100%
				); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(
					to right,
					rgba(231, 228, 255, 1) 0%,
					rgba(197, 180, 240, 1) 50%,
					rgba(186, 123, 170, 1) 100%
				); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient(
						startColorstr='#e7e4ff',
						endColorstr='#ba7baa',
						GradientType=1
					); /* IE6-9 */
			}

			.Bar-Button {
				position: absolute;
				background-color: #643fe6;
				box-shadow: 1px 2px 5px -1px #231a6b;
				height: 25px;
				width: 25px;
				border-radius: 5px;
				@include transform(translate(-50%, -50%));
				top: 50%;
			}
		}
	}
}
