.Services {
	padding: 3rem 0 1.5rem 0;
	background-color: #fafafa;

	.Card {
		padding: 2em 1em 1em 1em;
		margin-bottom: 1.5rem;
		border-radius: 4px;
		@include for-size(phone-only) {
			max-width: 270px;
			margin-right: auto;
			margin-left: auto;
		}
		@include transition(all .3s ease-in-out);

		background: rgb(92, 63, 248); /* Old browsers */
		background: -moz-linear-gradient(
			top,
			rgba(92, 63, 248, 1) 0%,
			rgba(122, 64, 182, 1) 50%,
			rgba(149, 65, 120, 1) 100%
		); /* FF3.6-15 */
		background: -webkit-linear-gradient(
			top,
			rgba(92, 63, 248, 1) 0%,
			rgba(122, 64, 182, 1) 50%,
			rgba(149, 65, 120, 1) 100%
		); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(
			to bottom,
			rgba(92, 63, 248, 1) 0%,
			rgba(122, 64, 182, 1) 50%,
			rgba(149, 65, 120, 1) 100%
		); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient(
				startColorstr='#5c3ff8',
				endColorstr='#954178',
				GradientType=0
			); /* IE6-9 */
		&:hover {
			box-shadow: -1px 3px 8px 2px #3838399c;
			@include transform(translateY(-6px));
		}

		.Title,
		.Body {
			color: #fff;
			text-align: center;
		}

		.Title {
			.title-header {
				font-family: $title-font-bold;
				font-size: 1.2em;
			}

			.title-image {
				img {
					width: 50px;
					height: auto;
					margin-bottom: .5rem;
				}
			}
			margin-bottom: 2rem;
		}

		.Body {
			height: 115px;
			overflow-y: auto;
			margin-bottom: 2rem;
			// background-color: #fff;
		}

		.Footer {
			text-align: center;

			button {
				&.default {
					color: #ffffff;
					background-color: transparent;
					border: 1px solid #ffffff;
					&:focus {
						outline: none;
					}
					&:hover {
						color: #231a6b;
						background-color: #ffffff;
					}
				}
			}
		}
	}
}
