.Services {
	padding: 3rem 0;
	min-height: 100vh;
	background-color: #fafafa;

	.Card {
		min-height: 300px;
		padding: 1em;

		background: rgb(92, 63, 248); /* Old browsers */
		background: -moz-linear-gradient(
			top,
			rgba(92, 63, 248, 1) 0%,
			rgba(122, 64, 182, 1) 50%,
			rgba(149, 65, 120, 1) 100%
		); /* FF3.6-15 */
		background: -webkit-linear-gradient(
			top,
			rgba(92, 63, 248, 1) 0%,
			rgba(122, 64, 182, 1) 50%,
			rgba(149, 65, 120, 1) 100%
		); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(
			to bottom,
			rgba(92, 63, 248, 1) 0%,
			rgba(122, 64, 182, 1) 50%,
			rgba(149, 65, 120, 1) 100%
		); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient(
				startColorstr='#5c3ff8',
				endColorstr='#954178',
				GradientType=0
			); /* IE6-9 */

		.Title,
		.Body {
			color: #fff;
			text-align: center;
		}

		.Title {
			.title-header {
				font-family: $title-font-bold;
				font-size: 1.2em;
			}
		}

		.Body {
		}
	}
}
