// Colors
$primary: #231a6b;
$secondary: #fafafa;
$default: #333333;

// Button Color
$primary-button: #643fe6;

// BreakPoints
$phone-only: 599px;
$tablet-portrait-up: 600px;
$tablet-landscape-up: 900px;
$desktop-up: 1600px;
$big-desktop-up: 1800px;
$max-width: 2000px;

// Navigation
$navigation-height: 60px;

// Fonts
$title-font-regular: 'HeptaSlab-Regular';
$title-font-light: 'HeptaSlab-Light';
$title-font-bold: 'HeptaSlab-Bold';
