.What-Clients-Say {
	padding: 3rem 0 3rem 0;
	// min-height: 100vh;
	background-color: #fafafa;

	.section-title {
		margin-bottom: 3rem;
	}

	.Clients-Say-Container {
		background: #ffffff;
		width: calc(100% - 19px);
		min-height: 50vh;
		position: relative;
		left: 19px;

		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			left: -19px;
			// background-color: red;

			top: -19px;
			border: 9px solid $primary-button;
		}

		.Context {
			width: 100%;
			min-height: 50vh;
			background-color: #ffffff;
			position: relative;
			box-shadow: 1px 1px 3px 1px #afafaf;

			.Middle-Text {
				p {
					@include for-size(tablet-portrait-up) {
						width: 50%;
						margin: 0 auto;
					}
				}
			}
		}
	}
}
