.What-Clients-Say {
	padding: 3rem 0 3rem 0;
	// min-height: 100vh;
	background-color: #fafafa;

	.section-title {
		margin-bottom: 3rem;
	}

	.Clients-Say-Container {
		background: #ffffff;
		width: calc(100% - 19px);
		min-height: 50vh;
		position: relative;
		left: 19px;

		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			left: -19px;
			// background-color: red;

			top: -19px;
			border: 9px solid $primary-button;
		}

		.Context {
			width: 100%;
			min-height: 50vh;
			background-color: #ffffff;
			position: relative;
			box-shadow: 1px 1px 3px 1px #afafaf;

			.Clients-Image {
				position: relative;
				height: 70px;
				img {
					width: 50px;
					height: 50px;
					border-radius: 50px;
					object-fit: cover;
					object-position: center;
					position: absolute;
					@include transform(translate(-50%, -50%));
					@include transition(all 0.3s linear);
					left: 50%;
					cursor: pointer;

					&.left,
					&.right {
						opacity: .6;
						z-index: 1;
					}

					&.right {
						left: calc(50% + 70px);
						@include transform(translate(-50%, -50%));
					}

					&.left {
						left: calc(50% - 70px);
						@include transform(translate(-50%, -50%));
					}

					&.center {
						z-index: 2;
						border: 3px solid $primary-button;
						@include transform(translate(-50%, -50%) scale(1.4));
					}
				}
			}

			.Middle-Text {
				// color: red;
				position: relative;

				&::before,
				&::after {
					content: "";
					width: 20px;
					height: 20px;
					display: block;
					position: absolute;
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center center;
					background-color: #ffffff;
					@include transform( translate(-50%, -50%));
				}

				&::before {
					top: 5px;
					@media screen and (min-width: 768px) {
						left: 6%;
					}
					@media screen and (max-width: 767px) {
						left: -16px;
					}

					background-image: url(../images/Clients/Open_Comma.png);
				}

				&::after {
					top: 5px;
					@media screen and (min-width: 768px) {
						right: 9%;
					}
					@media screen and (max-width: 768px) {
						right: -36px;
					}
					background-image: url(../images/Clients/Close_Comma.png);
				}

				p {
					margin: 0 auto 1rem auto;
					@media screen and (max-width: 767px) {
						width: 100%;
					}

					@media screen and (min-width: 768px) {
						width: 60%;
					}
				}

				.client-name {
					font-size: 1.15em;
					font-family: $title-font-regular;
					color: $primary;
					text-align: center;
				}
			}
		}
	}
}
