.second-title {
  font-size: 1.2em;
  font-family: "HeptaSlab-Regular"; }

.section-title {
  font-size: 1.2em;
  font-family: "HeptaSlab-Bold";
  color: #231a6b; }

.custom-button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.275rem .75rem 0.355rem .75rem;
  font-size: .9em;
  line-height: 1.3;
  border-radius: 4rem;
  cursor: pointer;
  transition: all 0.15s linear;
  -webkit-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear; }
  .custom-button.primary {
    box-shadow: 1px 2px 5px -1px #231a6b;
    color: #ffffff;
    background-color: #643fe6; }
    .custom-button.primary:focus {
      outline: none; }
    .custom-button.primary:hover {
      opacity: 0.8; }
  .custom-button.primary-outline {
    color: #643fe6;
    background-color: #ffffff;
    border: 1px solid #643fe6; }
    .custom-button.primary-outline:focus {
      outline: none; }
    .custom-button.primary-outline:hover {
      color: #ffffff;
      box-shadow: 1px 2px 5px -1px #231a6b;
      background-color: #643fe6; }

@font-face {
  font-family: "HeptaSlab-Regular";
  src: url("../fonts/HeptaSlab-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "HeptaSlab-Light";
  src: url("../fonts/HeptaSlab-Light.ttf") format("truetype"); }

@font-face {
  font-family: "HeptaSlab-Bold";
  src: url("../fonts/HeptaSlab-Bold.ttf") format("truetype"); }

.navigation {
  height: 60px;
  line-height: 60px;
  background-color: #ffffff;
  font-size: 1em;
  color: #333;
  position: fixed;
  width: 100%;
  max-width: 2000px;
  top: 0;
  z-index: 999;
  border-bottom: 1px solid #dfdfdf;
  box-shadow: 2px 0 2px 0 #403f3f6e;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out; }
  .navigation.hide {
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transform: translateY(-63px);
    -webkit-transform: translateY(-63px);
    -o-transform: translateY(-63px);
    -moz-transform: translateY(-63px); }
  .navigation .navigator-button {
    position: absolute;
    left: 1rem;
    width: 31px; }
    .navigation .navigator-button svg {
      cursor: pointer; }
      .navigation .navigator-button svg line {
        transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        stroke-dasharray: 350;
        stroke-dashoffset: 0; }
      .navigation .navigator-button svg line:nth-child(3) {
        stroke-dasharray: 350;
        stroke-dashoffset: 250; }
      .navigation .navigator-button svg:hover line:nth-child(1) {
        stroke-dasharray: 350;
        stroke-dashoffset: 250; }
      .navigation .navigator-button svg:hover line:nth-child(3) {
        stroke-dasharray: 350;
        stroke-dashoffset: 0; }
  .navigation .logo {
    position: absolute;
    left: 50%;
    top: -3px;
    width: 53px;
    opacity: 0.75;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -moz-transform: translateX(-50%); }
  .navigation .ph {
    position: absolute;
    right: 1rem;
    text-decoration: underline;
    font-family: "HeptaSlab-Light";
    font-size: .9em; }

.First-Slide {
  min-height: calc(100vh - 60px);
  background: #fff;
  font-family: "HeptaSlab-Light";
  position: relative; }
  .First-Slide .Text-Wrapper {
    position: relative;
    color: #333333; }
    .First-Slide .Text-Wrapper div {
      margin-bottom: .1em; }
    .First-Slide .Text-Wrapper span {
      font-family: "HeptaSlab-Bold";
      color: #231a6b; }
    .First-Slide .Text-Wrapper .Finding-Web-Developer {
      text-align: center; }
      @media (max-width: 599px) {
        .First-Slide .Text-Wrapper .Finding-Web-Developer {
          font-size: 1.4em; } }
      @media (min-width: 600px) {
        .First-Slide .Text-Wrapper .Finding-Web-Developer {
          font-size: 2em; } }
      @media (min-width: 900px) {
        .First-Slide .Text-Wrapper .Finding-Web-Developer {
          font-size: 2.7em; } }
    .First-Slide .Text-Wrapper .I-More-Than {
      text-align: center; }
      @media (max-width: 599px) {
        .First-Slide .Text-Wrapper .I-More-Than {
          font-size: 1.2em; } }
      @media (min-width: 600px) {
        .First-Slide .Text-Wrapper .I-More-Than {
          font-size: 1.8em; } }
      @media (min-width: 900px) {
        .First-Slide .Text-Wrapper .I-More-Than {
          font-size: 2em; } }
    .First-Slide .Text-Wrapper .Scroll-Down {
      font-family: "HeptaSlab-Regular";
      color: #333333;
      margin-top: .4em;
      margin-bottom: 1.5rem;
      display: inline-block; }
      @media (max-width: 599px) {
        .First-Slide .Text-Wrapper .Scroll-Down {
          font-size: .8em; } }
      @media (min-width: 600px) {
        .First-Slide .Text-Wrapper .Scroll-Down {
          font-size: .9em; } }
      .First-Slide .Text-Wrapper .Scroll-Down i {
        width: 1em;
        height: 1em;
        display: inline-block;
        position: relative;
        top: .2em;
        background-image: url("../images/scrollDown.svg");
        background-repeat: no-repeat;
        animation: scroll-animate 1.3s cubic-bezier(0.6, 0.01, 0.32, 1) infinite alternate; }

.My-Face {
  position: absolute;
  text-align: center;
  top: 40%;
  left: 50%;
  cursor: pointer;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%); }
  @media (max-width: 599px) {
    .My-Face {
      width: 160px; } }
  @media (min-width: 600px) {
    .My-Face {
      width: 18vw; } }
  @media (min-width: 900px) {
    .My-Face {
      width: 14vw; } }
  @media (min-width: 1600px) {
    .My-Face {
      width: 12vw; } }
  @media (min-width: 1800px) {
    .My-Face {
      width: 400px; } }

.Top-Image {
  width: 100%;
  background-image: url("../images/Background.svg");
  background-position: top;
  background-repeat: no-repeat;
  height: 100%;
  position: absolute;
  transform: translateY(-60px);
  -webkit-transform: translateY(-60px);
  -o-transform: translateY(-60px);
  -moz-transform: translateY(-60px); }
  @media (max-width: 599px) {
    .Top-Image {
      background-size: 380%; } }
  @media (min-width: 600px) {
    .Top-Image {
      background-size: contain; } }

#Hair > g > polygon,
#Face_SKin > g > polygon {
  transition: 0.5s all ease-in-out;
  transform-origin: center; }

.Hand-Animation {
  animation: hand-animate 1.5s linear infinite alternate; }

@keyframes hand-animate {
  from {
    transform: rotate(3deg);
    transform-origin: bottom; }
  to {
    transform: rotate(-4deg);
    transform-origin: bottom; } }

@-webkit-keyframes hand-animate {
  from {
    transform: rotate(3deg);
    transform-origin: bottom; }
  to {
    transform: rotate(-4deg);
    transform-origin: bottom; } }

@keyframes scroll-animate {
  from {
    transform: translateY(0px);
    transform-origin: bottom; }
  to {
    transform: translateY(2px);
    transform-origin: bottom; } }

@-webkit-keyframes scroll-animate {
  from {
    transform: translateY(0px);
    transform-origin: bottom; }
  to {
    transform: translateY(2px);
    transform-origin: bottom; } }

@keyframes hair-animate-1 {
  from {
    transform: translateY(1px); }
  to {
    transform: translateY(0px); } }

@-webkit-keyframes hair-animate-1 {
  from {
    transform: translateY(1px); }
  to {
    transform: translateY(0px); } }

@keyframes hair-animate--1 {
  from {
    transform: translateY(-1px); }
  to {
    transform: translateY(0px); } }

@-webkit-keyframes hair-animate--1 {
  from {
    transform: translateY(-1px); }
  to {
    transform: translateY(0px); } }

.Hair-Animation-1 {
  animation: hair-animate-1 3s ease-in-out infinite alternate; }

.Hair-Animation--1 {
  animation: hair-animate--1 3s ease-in-out infinite alternate; }

@keyframes hair-animate-2 {
  from {
    transform: translateY(2px); }
  to {
    transform: translateY(0px); } }

@-webkit-keyframes hair-animate-2 {
  from {
    transform: translateY(2px); }
  to {
    transform: translateY(0px); } }

@keyframes hair-animate--2 {
  from {
    transform: translateY(-2px); }
  to {
    transform: translateY(0px); } }

@-webkit-keyframes hair-animate--2 {
  from {
    transform: translateY(-2px); }
  to {
    transform: translateY(0px); } }

.Hair-Animation-2 {
  animation: hair-animate-2 3s ease-in-out infinite alternate; }

.Hair-Animation--2 {
  animation: hair-animate--2 3s ease-in-out infinite alternate; }

@keyframes hair-animate-3 {
  from {
    transform: translateY(3px); }
  to {
    transform: translateY(0px); } }

@-webkit-keyframes hair-animate-3 {
  from {
    transform: translateY(3px); }
  to {
    transform: translateY(0px); } }

@keyframes hair-animate--3 {
  from {
    transform: translateY(-3px); }
  to {
    transform: translateY(0px); } }

@-webkit-keyframes hair-animate--3 {
  from {
    transform: translateY(-3px); }
  to {
    transform: translateY(0px); } }

.Hair-Animation-3 {
  animation: hair-animate-3 3s ease-in-out infinite alternate; }

.Hair-Animation--3 {
  animation: hair-animate--3 3s ease-in-out infinite alternate; }

@keyframes hair-animate-4 {
  from {
    transform: translateY(4px); }
  to {
    transform: translateY(0px); } }

@-webkit-keyframes hair-animate-4 {
  from {
    transform: translateY(4px); }
  to {
    transform: translateY(0px); } }

@keyframes hair-animate--4 {
  from {
    transform: translateY(-4px); }
  to {
    transform: translateY(0px); } }

@-webkit-keyframes hair-animate--4 {
  from {
    transform: translateY(-4px); }
  to {
    transform: translateY(0px); } }

.Hair-Animation-4 {
  animation: hair-animate-4 3s ease-in-out infinite alternate; }

.Hair-Animation--4 {
  animation: hair-animate--4 3s ease-in-out infinite alternate; }

@keyframes hair-animate-5 {
  from {
    transform: translateY(5px); }
  to {
    transform: translateY(0px); } }

@-webkit-keyframes hair-animate-5 {
  from {
    transform: translateY(5px); }
  to {
    transform: translateY(0px); } }

@keyframes hair-animate--5 {
  from {
    transform: translateY(-5px); }
  to {
    transform: translateY(0px); } }

@-webkit-keyframes hair-animate--5 {
  from {
    transform: translateY(-5px); }
  to {
    transform: translateY(0px); } }

.Hair-Animation-5 {
  animation: hair-animate-5 3s ease-in-out infinite alternate; }

.Hair-Animation--5 {
  animation: hair-animate--5 3s ease-in-out infinite alternate; }

@keyframes hair-animate-6 {
  from {
    transform: translateY(6px); }
  to {
    transform: translateY(0px); } }

@-webkit-keyframes hair-animate-6 {
  from {
    transform: translateY(6px); }
  to {
    transform: translateY(0px); } }

@keyframes hair-animate--6 {
  from {
    transform: translateY(-6px); }
  to {
    transform: translateY(0px); } }

@-webkit-keyframes hair-animate--6 {
  from {
    transform: translateY(-6px); }
  to {
    transform: translateY(0px); } }

.Hair-Animation-6 {
  animation: hair-animate-6 3s ease-in-out infinite alternate; }

.Hair-Animation--6 {
  animation: hair-animate--6 3s ease-in-out infinite alternate; }

@keyframes hair-animate-7 {
  from {
    transform: translateY(7px); }
  to {
    transform: translateY(0px); } }

@-webkit-keyframes hair-animate-7 {
  from {
    transform: translateY(7px); }
  to {
    transform: translateY(0px); } }

@keyframes hair-animate--7 {
  from {
    transform: translateY(-7px); }
  to {
    transform: translateY(0px); } }

@-webkit-keyframes hair-animate--7 {
  from {
    transform: translateY(-7px); }
  to {
    transform: translateY(0px); } }

.Hair-Animation-7 {
  animation: hair-animate-7 3s ease-in-out infinite alternate; }

.Hair-Animation--7 {
  animation: hair-animate--7 3s ease-in-out infinite alternate; }

@keyframes hair-animate-8 {
  from {
    transform: translateY(8px); }
  to {
    transform: translateY(0px); } }

@-webkit-keyframes hair-animate-8 {
  from {
    transform: translateY(8px); }
  to {
    transform: translateY(0px); } }

@keyframes hair-animate--8 {
  from {
    transform: translateY(-8px); }
  to {
    transform: translateY(0px); } }

@-webkit-keyframes hair-animate--8 {
  from {
    transform: translateY(-8px); }
  to {
    transform: translateY(0px); } }

.Hair-Animation-8 {
  animation: hair-animate-8 3s ease-in-out infinite alternate; }

.Hair-Animation--8 {
  animation: hair-animate--8 3s ease-in-out infinite alternate; }

@keyframes hair-animate-9 {
  from {
    transform: translateY(9px); }
  to {
    transform: translateY(0px); } }

@-webkit-keyframes hair-animate-9 {
  from {
    transform: translateY(9px); }
  to {
    transform: translateY(0px); } }

@keyframes hair-animate--9 {
  from {
    transform: translateY(-9px); }
  to {
    transform: translateY(0px); } }

@-webkit-keyframes hair-animate--9 {
  from {
    transform: translateY(-9px); }
  to {
    transform: translateY(0px); } }

.Hair-Animation-9 {
  animation: hair-animate-9 3s ease-in-out infinite alternate; }

.Hair-Animation--9 {
  animation: hair-animate--9 3s ease-in-out infinite alternate; }

@keyframes hair-animate-10 {
  from {
    transform: translateY(10px); }
  to {
    transform: translateY(0px); } }

@-webkit-keyframes hair-animate-10 {
  from {
    transform: translateY(10px); }
  to {
    transform: translateY(0px); } }

@keyframes hair-animate--10 {
  from {
    transform: translateY(-10px); }
  to {
    transform: translateY(0px); } }

@-webkit-keyframes hair-animate--10 {
  from {
    transform: translateY(-10px); }
  to {
    transform: translateY(0px); } }

.Hair-Animation-10 {
  animation: hair-animate-10 3s ease-in-out infinite alternate; }

.Hair-Animation--10 {
  animation: hair-animate--10 3s ease-in-out infinite alternate; }

@keyframes hair-animate-11 {
  from {
    transform: translateY(11px); }
  to {
    transform: translateY(0px); } }

@-webkit-keyframes hair-animate-11 {
  from {
    transform: translateY(11px); }
  to {
    transform: translateY(0px); } }

@keyframes hair-animate--11 {
  from {
    transform: translateY(-11px); }
  to {
    transform: translateY(0px); } }

@-webkit-keyframes hair-animate--11 {
  from {
    transform: translateY(-11px); }
  to {
    transform: translateY(0px); } }

.Hair-Animation-11 {
  animation: hair-animate-11 3s ease-in-out infinite alternate; }

.Hair-Animation--11 {
  animation: hair-animate--11 3s ease-in-out infinite alternate; }

@keyframes hair-animate-12 {
  from {
    transform: translateY(12px); }
  to {
    transform: translateY(0px); } }

@-webkit-keyframes hair-animate-12 {
  from {
    transform: translateY(12px); }
  to {
    transform: translateY(0px); } }

@keyframes hair-animate--12 {
  from {
    transform: translateY(-12px); }
  to {
    transform: translateY(0px); } }

@-webkit-keyframes hair-animate--12 {
  from {
    transform: translateY(-12px); }
  to {
    transform: translateY(0px); } }

.Hair-Animation-12 {
  animation: hair-animate-12 3s ease-in-out infinite alternate; }

.Hair-Animation--12 {
  animation: hair-animate--12 3s ease-in-out infinite alternate; }

@keyframes hair-animate-13 {
  from {
    transform: translateY(13px); }
  to {
    transform: translateY(0px); } }

@-webkit-keyframes hair-animate-13 {
  from {
    transform: translateY(13px); }
  to {
    transform: translateY(0px); } }

@keyframes hair-animate--13 {
  from {
    transform: translateY(-13px); }
  to {
    transform: translateY(0px); } }

@-webkit-keyframes hair-animate--13 {
  from {
    transform: translateY(-13px); }
  to {
    transform: translateY(0px); } }

.Hair-Animation-13 {
  animation: hair-animate-13 3s ease-in-out infinite alternate; }

.Hair-Animation--13 {
  animation: hair-animate--13 3s ease-in-out infinite alternate; }

@keyframes hair-animate-14 {
  from {
    transform: translateY(14px); }
  to {
    transform: translateY(0px); } }

@-webkit-keyframes hair-animate-14 {
  from {
    transform: translateY(14px); }
  to {
    transform: translateY(0px); } }

@keyframes hair-animate--14 {
  from {
    transform: translateY(-14px); }
  to {
    transform: translateY(0px); } }

@-webkit-keyframes hair-animate--14 {
  from {
    transform: translateY(-14px); }
  to {
    transform: translateY(0px); } }

.Hair-Animation-14 {
  animation: hair-animate-14 3s ease-in-out infinite alternate; }

.Hair-Animation--14 {
  animation: hair-animate--14 3s ease-in-out infinite alternate; }

@keyframes hair-animate-15 {
  from {
    transform: translateY(15px); }
  to {
    transform: translateY(0px); } }

@-webkit-keyframes hair-animate-15 {
  from {
    transform: translateY(15px); }
  to {
    transform: translateY(0px); } }

@keyframes hair-animate--15 {
  from {
    transform: translateY(-15px); }
  to {
    transform: translateY(0px); } }

@-webkit-keyframes hair-animate--15 {
  from {
    transform: translateY(-15px); }
  to {
    transform: translateY(0px); } }

.Hair-Animation-15 {
  animation: hair-animate-15 3s ease-in-out infinite alternate; }

.Hair-Animation--15 {
  animation: hair-animate--15 3s ease-in-out infinite alternate; }

@keyframes hair-animate-16 {
  from {
    transform: translateY(16px); }
  to {
    transform: translateY(0px); } }

@-webkit-keyframes hair-animate-16 {
  from {
    transform: translateY(16px); }
  to {
    transform: translateY(0px); } }

@keyframes hair-animate--16 {
  from {
    transform: translateY(-16px); }
  to {
    transform: translateY(0px); } }

@-webkit-keyframes hair-animate--16 {
  from {
    transform: translateY(-16px); }
  to {
    transform: translateY(0px); } }

.Hair-Animation-16 {
  animation: hair-animate-16 3s ease-in-out infinite alternate; }

.Hair-Animation--16 {
  animation: hair-animate--16 3s ease-in-out infinite alternate; }

@keyframes hair-animate-17 {
  from {
    transform: translateY(17px); }
  to {
    transform: translateY(0px); } }

@-webkit-keyframes hair-animate-17 {
  from {
    transform: translateY(17px); }
  to {
    transform: translateY(0px); } }

@keyframes hair-animate--17 {
  from {
    transform: translateY(-17px); }
  to {
    transform: translateY(0px); } }

@-webkit-keyframes hair-animate--17 {
  from {
    transform: translateY(-17px); }
  to {
    transform: translateY(0px); } }

.Hair-Animation-17 {
  animation: hair-animate-17 3s ease-in-out infinite alternate; }

.Hair-Animation--17 {
  animation: hair-animate--17 3s ease-in-out infinite alternate; }

@keyframes hair-animate-18 {
  from {
    transform: translateY(18px); }
  to {
    transform: translateY(0px); } }

@-webkit-keyframes hair-animate-18 {
  from {
    transform: translateY(18px); }
  to {
    transform: translateY(0px); } }

@keyframes hair-animate--18 {
  from {
    transform: translateY(-18px); }
  to {
    transform: translateY(0px); } }

@-webkit-keyframes hair-animate--18 {
  from {
    transform: translateY(-18px); }
  to {
    transform: translateY(0px); } }

.Hair-Animation-18 {
  animation: hair-animate-18 3s ease-in-out infinite alternate; }

.Hair-Animation--18 {
  animation: hair-animate--18 3s ease-in-out infinite alternate; }

@keyframes hair-animate-19 {
  from {
    transform: translateY(19px); }
  to {
    transform: translateY(0px); } }

@-webkit-keyframes hair-animate-19 {
  from {
    transform: translateY(19px); }
  to {
    transform: translateY(0px); } }

@keyframes hair-animate--19 {
  from {
    transform: translateY(-19px); }
  to {
    transform: translateY(0px); } }

@-webkit-keyframes hair-animate--19 {
  from {
    transform: translateY(-19px); }
  to {
    transform: translateY(0px); } }

.Hair-Animation-19 {
  animation: hair-animate-19 3s ease-in-out infinite alternate; }

.Hair-Animation--19 {
  animation: hair-animate--19 3s ease-in-out infinite alternate; }

@keyframes hair-animate-20 {
  from {
    transform: translateY(20px); }
  to {
    transform: translateY(0px); } }

@-webkit-keyframes hair-animate-20 {
  from {
    transform: translateY(20px); }
  to {
    transform: translateY(0px); } }

@keyframes hair-animate--20 {
  from {
    transform: translateY(-20px); }
  to {
    transform: translateY(0px); } }

@-webkit-keyframes hair-animate--20 {
  from {
    transform: translateY(-20px); }
  to {
    transform: translateY(0px); } }

.Hair-Animation-20 {
  animation: hair-animate-20 3s ease-in-out infinite alternate; }

.Hair-Animation--20 {
  animation: hair-animate--20 3s ease-in-out infinite alternate; }

@keyframes hair-animate-21 {
  from {
    transform: translateY(21px); }
  to {
    transform: translateY(0px); } }

@-webkit-keyframes hair-animate-21 {
  from {
    transform: translateY(21px); }
  to {
    transform: translateY(0px); } }

@keyframes hair-animate--21 {
  from {
    transform: translateY(-21px); }
  to {
    transform: translateY(0px); } }

@-webkit-keyframes hair-animate--21 {
  from {
    transform: translateY(-21px); }
  to {
    transform: translateY(0px); } }

.Hair-Animation-21 {
  animation: hair-animate-21 3s ease-in-out infinite alternate; }

.Hair-Animation--21 {
  animation: hair-animate--21 3s ease-in-out infinite alternate; }

@keyframes hair-animate-22 {
  from {
    transform: translateY(22px); }
  to {
    transform: translateY(0px); } }

@-webkit-keyframes hair-animate-22 {
  from {
    transform: translateY(22px); }
  to {
    transform: translateY(0px); } }

@keyframes hair-animate--22 {
  from {
    transform: translateY(-22px); }
  to {
    transform: translateY(0px); } }

@-webkit-keyframes hair-animate--22 {
  from {
    transform: translateY(-22px); }
  to {
    transform: translateY(0px); } }

.Hair-Animation-22 {
  animation: hair-animate-22 3s ease-in-out infinite alternate; }

.Hair-Animation--22 {
  animation: hair-animate--22 3s ease-in-out infinite alternate; }

@keyframes hair-animate-23 {
  from {
    transform: translateY(23px); }
  to {
    transform: translateY(0px); } }

@-webkit-keyframes hair-animate-23 {
  from {
    transform: translateY(23px); }
  to {
    transform: translateY(0px); } }

@keyframes hair-animate--23 {
  from {
    transform: translateY(-23px); }
  to {
    transform: translateY(0px); } }

@-webkit-keyframes hair-animate--23 {
  from {
    transform: translateY(-23px); }
  to {
    transform: translateY(0px); } }

.Hair-Animation-23 {
  animation: hair-animate-23 3s ease-in-out infinite alternate; }

.Hair-Animation--23 {
  animation: hair-animate--23 3s ease-in-out infinite alternate; }

@keyframes hair-animate-24 {
  from {
    transform: translateY(24px); }
  to {
    transform: translateY(0px); } }

@-webkit-keyframes hair-animate-24 {
  from {
    transform: translateY(24px); }
  to {
    transform: translateY(0px); } }

@keyframes hair-animate--24 {
  from {
    transform: translateY(-24px); }
  to {
    transform: translateY(0px); } }

@-webkit-keyframes hair-animate--24 {
  from {
    transform: translateY(-24px); }
  to {
    transform: translateY(0px); } }

.Hair-Animation-24 {
  animation: hair-animate-24 3s ease-in-out infinite alternate; }

.Hair-Animation--24 {
  animation: hair-animate--24 3s ease-in-out infinite alternate; }

@keyframes hair-animate-25 {
  from {
    transform: translateY(25px); }
  to {
    transform: translateY(0px); } }

@-webkit-keyframes hair-animate-25 {
  from {
    transform: translateY(25px); }
  to {
    transform: translateY(0px); } }

@keyframes hair-animate--25 {
  from {
    transform: translateY(-25px); }
  to {
    transform: translateY(0px); } }

@-webkit-keyframes hair-animate--25 {
  from {
    transform: translateY(-25px); }
  to {
    transform: translateY(0px); } }

.Hair-Animation-25 {
  animation: hair-animate-25 3s ease-in-out infinite alternate; }

.Hair-Animation--25 {
  animation: hair-animate--25 3s ease-in-out infinite alternate; }

@keyframes hair-animate-26 {
  from {
    transform: translateY(26px); }
  to {
    transform: translateY(0px); } }

@-webkit-keyframes hair-animate-26 {
  from {
    transform: translateY(26px); }
  to {
    transform: translateY(0px); } }

@keyframes hair-animate--26 {
  from {
    transform: translateY(-26px); }
  to {
    transform: translateY(0px); } }

@-webkit-keyframes hair-animate--26 {
  from {
    transform: translateY(-26px); }
  to {
    transform: translateY(0px); } }

.Hair-Animation-26 {
  animation: hair-animate-26 3s ease-in-out infinite alternate; }

.Hair-Animation--26 {
  animation: hair-animate--26 3s ease-in-out infinite alternate; }

@keyframes hair-animate-27 {
  from {
    transform: translateY(27px); }
  to {
    transform: translateY(0px); } }

@-webkit-keyframes hair-animate-27 {
  from {
    transform: translateY(27px); }
  to {
    transform: translateY(0px); } }

@keyframes hair-animate--27 {
  from {
    transform: translateY(-27px); }
  to {
    transform: translateY(0px); } }

@-webkit-keyframes hair-animate--27 {
  from {
    transform: translateY(-27px); }
  to {
    transform: translateY(0px); } }

.Hair-Animation-27 {
  animation: hair-animate-27 3s ease-in-out infinite alternate; }

.Hair-Animation--27 {
  animation: hair-animate--27 3s ease-in-out infinite alternate; }

@keyframes hair-animate-28 {
  from {
    transform: translateY(28px); }
  to {
    transform: translateY(0px); } }

@-webkit-keyframes hair-animate-28 {
  from {
    transform: translateY(28px); }
  to {
    transform: translateY(0px); } }

@keyframes hair-animate--28 {
  from {
    transform: translateY(-28px); }
  to {
    transform: translateY(0px); } }

@-webkit-keyframes hair-animate--28 {
  from {
    transform: translateY(-28px); }
  to {
    transform: translateY(0px); } }

.Hair-Animation-28 {
  animation: hair-animate-28 3s ease-in-out infinite alternate; }

.Hair-Animation--28 {
  animation: hair-animate--28 3s ease-in-out infinite alternate; }

@keyframes hair-animate-29 {
  from {
    transform: translateY(29px); }
  to {
    transform: translateY(0px); } }

@-webkit-keyframes hair-animate-29 {
  from {
    transform: translateY(29px); }
  to {
    transform: translateY(0px); } }

@keyframes hair-animate--29 {
  from {
    transform: translateY(-29px); }
  to {
    transform: translateY(0px); } }

@-webkit-keyframes hair-animate--29 {
  from {
    transform: translateY(-29px); }
  to {
    transform: translateY(0px); } }

.Hair-Animation-29 {
  animation: hair-animate-29 3s ease-in-out infinite alternate; }

.Hair-Animation--29 {
  animation: hair-animate--29 3s ease-in-out infinite alternate; }

.About-Me {
  padding: 4rem 0;
  background-color: #fafafa; }
  @media (max-width: 767px) {
    .About-Me {
      text-align: center; } }
  .About-Me .title {
    font-size: 2em;
    font-family: "HeptaSlab-Regular"; }
    .About-Me .title .name {
      font-family: "HeptaSlab-Bold";
      color: #231a6b; }
  .About-Me .image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; }
    @media (max-width: 767px) {
      .About-Me .image-container {
        padding-bottom: 3rem; } }
    .About-Me .image-container img {
      flex: 1; }

.My-Skills {
  min-height: 100vh;
  background-color: #ffffff;
  padding: 4rem 0; }

.Skill-Bar-Container .Skill-Bar .text-container {
  margin-bottom: .15rem;
  position: relative; }
  .Skill-Bar-Container .Skill-Bar .text-container .title {
    font-size: 1em;
    padding-left: 40px; }
  .Skill-Bar-Container .Skill-Bar .text-container img {
    width: 27px;
    position: absolute;
    left: 2px; }
    .Skill-Bar-Container .Skill-Bar .text-container img.sm {
      width: 20px;
      left: 5px; }

.Skill-Bar-Container .Skill-Bar .Bar {
  border: 1px solid #231a6b;
  height: 10px;
  border-radius: 10px;
  position: relative;
  margin-bottom: 1.5rem; }
  .Skill-Bar-Container .Skill-Bar .Bar .Bar-Width {
    width: 65%;
    border-radius: 10px;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e7e4ff+0,c5b4f0+50,ba7baa+100 */
    background: #e7e4ff;
    /* Old browsers */
    background: -moz-linear-gradient(left, #e7e4ff 0%, #c5b4f0 50%, #ba7baa 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #e7e4ff 0%, #c5b4f0 50%, #ba7baa 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #e7e4ff 0%, #c5b4f0 50%, #ba7baa 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e4ff', endColorstr='#ba7baa', GradientType=1 );
    /* IE6-9 */ }
  .Skill-Bar-Container .Skill-Bar .Bar .Bar-Button {
    position: absolute;
    background-color: #643fe6;
    box-shadow: 1px 2px 5px -1px #231a6b;
    height: 25px;
    width: 25px;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    top: 50%;
    left: 65%; }

body {
  margin: 0 auto;
  max-width: 2000px;
  padding: 0;
  padding-top: 60px;
  overflow-x: hidden; }
