@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fafafa;
  font-family: 'Nunito', sans-serif;
}

.paused {
  animation-play-state: paused;
}

.max-wrapper, .container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}